/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* font-family: "Ubuntu", serif; */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
/* font-family: "Comfortaa", serif; */

* {
    transition: .25s ease-in-out !important;
}

p, h2, h3, a {
    font-family: "Comfortaa", serif;
    margin-bottom: 0;
}

h2 {
    font-weight: 700;
    font-size: 45px;
    color: #957554;
    text-align: center;
}

@media only screen and (max-width: 1399px) {
    h2 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1199px) {
    h2 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 991px) {
    h2 {
        font-size: 30px;
    }
}

/* header */

.header {
    background-color: #111111 !important;
}

.header-block {
    flex-direction: column;
}

.logo {
    margin-right: 0 !important;
    margin-bottom: 48px;
}

.header-navbar {
    margin-bottom: 30px;
}

.header-navbar a {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    padding: 0 32px !important;
}

.header-navbar a:hover {
    color: #DFAA5B;
}

.header-navbar a:focus {
    color: #fff;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    overflow: visible;
    outline: none;
    border: none;
    --bs-navbar-toggler-border-color: none;
    --bs-navbar-toggler-focus-width: none;
    width: 32px;
    height: 32px;
    padding: unset !important;
}
.hamburger-box {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hamburger-inner {
    display: block;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 24px;
    height: 2px;
    background: #fff;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    border-radius: 5px;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -6px;
}

.hamburger-inner::after {
    bottom: -6px;
}

.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze[aria-expanded="true"] .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze[aria-expanded="true"] .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze[aria-expanded="true"] .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* header adaptive */

@media only screen and (max-width: 1399px) {
    .logo {
        margin-bottom: 44px;
    }
    .header-navbar a {
        font-size: 20px;
        padding: 0 28px !important;
    }
    .header-navbar {
        margin-bottom: 26px;
    }
}
@media only screen and (max-width: 1199px) {
    .logo {
        margin-bottom: 40px;
    }
    .header-navbar a {
        font-size: 16px;
        padding: 0 24px !important;
    }
    .header-navbar {
        margin-bottom: 22px;
    }
}
@media only screen and (max-width: 991px) {
    .logo {
        margin-bottom: 0;
    }
    .header-navbar a {
        font-size: 14px;
        padding: 8px 0 !important;
    }
    .header-navbar {
        margin-bottom: 6px;
        margin-top: 12px;
    }
    .header-block {
        flex-direction: row;
    }
    .logo-img {
        width: 100px;
    }
}

/* /header adaptive */
/* /header */

/* form */

.form-reservation {
    background-color: #111111;
    padding: 30px 0;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
}

.form-control {
    font-family: "Comfortaa", serif;
}

.form-item {
    box-shadow: none !important;
    background-color: transparent !important;
    color: #111111;
    width: calc(20% - 14px);
    margin-right: 14px;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 16px;
    border: solid 1px #000;
    background-color: #fff !important;
    border-radius: 10px;
}

.form-item:last-child {
    margin-right: 0;
}

.form-item:focus {
    border-color: black;
}

.form-submit {
    background-color: #DFAA5B !important;
    color: #fff;
}

.form-submit:hover {
    background-color: #c58e3b !important;
}

.button-mobile-form {
    border: none;
    background-color: #DFAA5B !important;
    color: #fff;
    font-family: "Comfortaa", serif;
    width: auto !important;
}

.button-mobile-form__block {
    background-color: #111111;
    display: none;
}

.form-inputs.mobile {
    flex-direction: column;
}

.form-inputs.mobile .form-item {
    width: 100%;
    margin-right: 0;
}

/* adaptive form */

@media only screen and (max-width: 1399px) {
    .form-reservation {
        padding: 26px 0;
    }
    .form-item {
        width: calc(20% - 12px);
        margin-right: 12px;
        font-size: 18px;
        padding: 18px 14px;
    }
}
@media only screen and (max-width: 1199px) {
    .form-reservation {
        padding: 22px 0;
    }
    .form-item {
        width: calc(20% - 10px);
        margin-right: 10px;
        font-size: 16px;
        padding: 16px 12px;
    }
}
@media only screen and (max-width: 991px) {
    .form-reservation {
        display: none;
    }
    .button-mobile-form__block {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }
    .form-item {
        font-size: 14px;
        padding: 14px 10px;
        border: none;
        margin-bottom: 10px;
    }
    
}

/* preview-main-block */

.preview-main-block {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/preview-bg.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 790px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.preview-figure {
    position: absolute;
    top: -95px;
    width: 300px;
    height: fit-content;
    margin-left: -500px;
}

.preview-img-bg {
    width: 100%;
    height: 100%;
}

.preview-block-content__h {
    color: #fff;
    font-family: "Comfortaa", serif; 
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

.preview-block-content__p {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.preview-block-content__a {
    display: flex;
    justify-content: center;
}

.preview-block-content__a a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 24px 130px;
    background-color: #DFAA5B;
    border-radius: 10px;
    font-size: 24px;
    text-transform: uppercase;
}

.preview-block-content__a a:hover {
    background-color: #c58e3b !important;
}

/* adaptive preview-main-block */

@media only screen and (max-width: 1399px) {
    .preview-main-block {
        height: 720px;
    }
    .preview-figure {
        width: 280px;
    }
    .preview-block-content__h {
        font-size: 52px;
    }
    .preview-block-content__p {
        font-size: 20px;
        margin-bottom: 32px;
    }
    .preview-block-content__a a {
        font-size: 20px;
        padding: 20px 110px;
    }
}
@media only screen and (max-width: 1199px) {
    .preview-main-block {
        height: 610px;
    }
    .preview-figure {
        width: 260px;
    }
    .preview-block-content__h {
        font-size: 44px;
    }
    .preview-block-content__p {
        font-size: 16px;
        margin-bottom: 24px;
    }
    .preview-block-content__a a {
        font-size: 16px;
        padding: 16px 90px;
    }
}
@media only screen and (max-width: 991px) {
    .preview-main-block {
        height: 510px;
    }
    .preview-figure {
        width: 230px;
        margin-left: -400px;
    }
    .preview-block-content__h {
        font-size: 32px;
    }
    .preview-block-content__p {
        font-size: 14px;
        margin-bottom: 16px;
    }
    .preview-block-content__a a {
        font-size: 14px;
        padding: 14px 70px;
    }
}

@media only screen and (max-width: 767px) {
    .preview-main-block {
        height: 470px;
    }
    .preview-block-content__h {
        font-size: 24px;
    }
    .preview-figure {
        width: 210px;
        margin-left: -350px;
    }
}

@media only screen and (max-width: 575px) {
    .preview-main-block {
        height: 430px;
    }
    .preview-figure {
        width: 180px;
        margin-left: -200px;
    }
}

/* facilities-main-block */

.facilities-main-block {
    position: relative;
    height: 190px;
}

.facilities-block {
    position: absolute;
    width: 100%;
    top: -160px;
}

.facilities-block-content {
    display: flex;
    flex-direction: column;
    padding: 42px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.3);
}

.facilities-block-content__h {
    margin-bottom: 42px;
}

.facilities-block-content__items {
    display: flex;
    flex-wrap: wrap;
}

.facilities-block-content__item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facilities-block-content__item-icon {
    margin-bottom: 14px;
}

.facilities-block-content__item-text {
    font-size: 24px;
    color: #957554;
    font-weight: 400;
    text-align: center;
}

/* adaptive facilities-main-block */

@media only screen and (max-width: 1399px) {
    .facilities-block-content {
        padding: 36px;
    }
    .facilities-block-content__h {
        margin-bottom: 36px;
    }
    .facilities-block-content__item-icon {
        width: 50px;
    }
    .facilities-block-content__item-text {
        font-size: 20px;
    }
    .facilities-block {
        top: -130px;
    }
}
@media only screen and (max-width: 1199px) {
    .facilities-block-content {
        padding: 30px;
    }
    .facilities-block-content__h {
        margin-bottom: 30px;
    }
    .facilities-block-content__item-icon {
        width: 45px;
    }
    .facilities-block-content__item-text {
        font-size: 16px;
    }
    .facilities-block {
        top: -110px;
    }
}
@media only screen and (max-width: 991px) {
    .facilities-block-content__item {
        width: 50%;
        margin-bottom: 24px;
    }
    .facilities-block-content__item:nth-child(n+3) {
        margin-bottom: 0;
    }
    .facilities-block-content__item-text {
        font-size: 14px;
    }
    .facilities-block-content__item-icon {
        width: 40px;
        margin-bottom: 10px;
    }
    .facilities-block-content {
        padding: 24px;
    }
    .facilities-main-block {
        height: 230px;
    }
}

/* rooms-main-block */

.rooms-main-block {
    margin-bottom: 100px;
}

.rooms-content-title {
    margin-bottom: 50px;
}

.rooms-content-items {
    display: flex;
    flex-wrap: wrap;
}

.rooms-content-item {
    width: calc(50% - 30px);
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    margin-top: 60px;
}

.rooms-content-item:nth-child(2n) {
    margin-right: 0;
}

.rooms-content-item:nth-child(-n+2) {
    margin-top: 0;
}

.rooms-content-item__img-bg {
    width: 100%;
    height: 100%;
}

.rooms-content-item__img-bg-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    opacity: 0;
}

.rooms-content-item:hover .rooms-content-item__img-bg-overlay {
    opacity: 1;
}

.rooms-content-item__content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 32px;
    z-index: 1;
    opacity: 0;
    transform: scale(.8) translateY(24px);
}

.rooms-content-item:hover .rooms-content-item__content {
    opacity: 1;
    transform: scale(1);
}

.rooms-content-item__content-title {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.rooms-content-item__content-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rooms-content-item__content-button a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding: 24px 52px;
    background-color: #DFAA5B;
    border-radius: 10px;
}

.rooms-content-item__content-button a:hover {
    background-color: #c58e3b !important;
}

/* adaptive rooms-main-block */

@media only screen and (max-width: 1399px) {
    .rooms-content-title {
        margin-bottom: 45px;
    }
    .rooms-content-item {
        height: 415px;
        margin-right: 50px;
        margin-top: 50px;
        width: calc(50% - 25px);
    }
    .rooms-content-item__content {
        padding: 28px;
    }
    .rooms-content-item__content-title {
        font-size: 36px;
        margin-bottom: 15px;
    }
    .rooms-content-item__content-button a {
        font-size: 20px;
        padding: 20px 48px;
    }
}

@media only screen and (max-width: 1199px) {
    .rooms-content-title {
        margin-bottom: 40px;
    }
    .rooms-content-item {
        height: 327px;
        margin-right: 45px;
        margin-top: 45px;
        width: calc(50% - 23px);
    }
    .rooms-content-item__content {
        padding: 24px;
    }
    .rooms-content-item__content-title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .rooms-content-item__content-button a {
        font-size: 16px;
        padding: 16px 44px;
    }
}

@media only screen and (max-width: 991px) {
    .rooms-content-title {
        margin-bottom: 35px;
    }
    .rooms-content-items {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .rooms-content-item {
        width: 85%;
        height: 472px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 40px;
    }
    .rooms-content-item:last-child {
        margin-bottom: 0;
    }
    .rooms-content-item__content {
        opacity: 1;
        transform: none;
    }
    .rooms-content-item__img-bg-overlay {
        opacity: 1;
    }
}

@media only screen and (max-width: 767px) {
    .rooms-content-item {
        width: 100%;
        height: 397px;
        margin-bottom: 30px;
    }
    .rooms-content-item__content-title {
        font-size: 25px;
    }
    .rooms-content-item__content-button a {
        padding: 12px 38px;
    }
}

@media only screen and (max-width: 575px) {
    .rooms-content-item {
        height: 320px;
    }
    .rooms-content-item__content-title {
        font-size: 21px;
    }
}

/* footer-main-block */

.footer-main-block {
    background-color: #111111;
}

.footer-content {
    padding: 60px 0;
    display: flex;
    align-items: center;
}

.footer-logo-block {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    width: 300px;
    height: fit-content;
}

.footer-content-subcribe {
    width: 50%;
}

.footer-content-subcribe__title {
    font-weight: 500;
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.footer-input {
    margin-right: 0 !important;
    width: 100%;
    margin-bottom: 20px;
}

.footer-button {
    width: 100%;
}

@media only screen and (max-width: 1399px) {
    .footer-logo {
        width: 260px;
    }
    .footer-content-subcribe__title {
        font-size: 26px;
    }
}

@media only screen and (max-width: 1199px) {
    .footer-logo {
        width: 220px;
    }
    .footer-content-subcribe__title {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .footer-input {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 991px) {
    .footer-content {
        flex-direction: column;
        padding: 40px 0;
    }
    .footer-logo-block {
        width: 100%;
    }
    .footer-logo {
        width: 180px;
        margin-bottom: 40px;
    }
    .footer-content-subcribe {
        width: 80%;
    }
}

@media only screen and (max-width: 575px) {
    .footer-content-subcribe {
        width: 100%;
    }
}

